.tpl_dir
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
node_modules/
unpackage/
dist/
.idea/
.DS_Store
yarn.lock
package-lock.json
*.iml
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
Thumbs.db
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
*.json.gzip
.buildpath
.settings
npm-debug.log
config/base.yaml
/.history
*.tmp
*.sourcemap
