@font-face {
  font-family: "iconfont"; /* Project id 1411765 */
  src: url("//at.alicdn.com/t/font_1411765_o4szs7zjdk.woff2?t=1620046462469")
      format("woff2"),
    url("//at.alicdn.com/t/font_1411765_o4szs7zjdk.woff?t=1620046462469")
      format("woff"),
    url("//at.alicdn.com/t/font_1411765_o4szs7zjdk.ttf?t=1620046462469")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ad-icon-layout:before {
  content: "\e795";
}

.ad-icon-sticky:before {
  content: "\e690";
}

.ad-icon-tag:before {
  content: "\e68c";
}

.ad-icon-mask:before {
  content: "\e608";
}

.ad-icon-view:before {
  content: "\e674";
}

.ad-icon-tips:before {
  content: "\e62c";
}

.ad-icon-nav:before {
  content: "\e62d";
}

.ad-icon-author:before {
  content: "\e615";
}

.ad-icon-close:before {
  content: "\e622";
}

.ad-icon-animation:before {
  content: "\e619";
}

.ad-icon-spin:before {
  content: "\e71c";
}

.ad-icon-transition:before {
  content: "\e64b";
}

.ad-icon-button:before {
  content: "\e642";
}

.ad-icon-swiper:before {
  content: "\ee08";
}

.ad-icon-gradient:before {
  content: "\ebba";
}

.ad-icon-card:before {
  content: "\e61a";
}

.ad-icon-actionsheet:before {
  content: "\e66f";
}

.ad-icon-triangle_up:before {
  content: "\e74d";
}

.ad-icon-guide:before {
  content: "\e78a";
}

.ad-icon-form:before {
  content: "\e60a";
}

.ad-icon-tree:before {
  content: "\e63d";
}

.ad-icon-progress:before {
  content: "\e714";
}

.ad-icon-menu:before {
  content: "\e6ec";
}

.ad-icon-badge:before {
  content: "\e7b1";
}

.ad-icon-tabs:before {
  content: "\e62b";
}

.ad-icon-charts:before {
  content: "\eb60";
}

.ad-icon-calendar-outline:before {
  content: "\e60c";
}

.ad-icon-status:before {
  content: "\e6db";
}

.ad-icon-text:before {
  content: "\e6e4";
}

.ad-icon-clock:before {
  content: "\e60e";
}

.ad-icon-calendar:before {
  content: "\e867";
}

.ad-icon-avatar:before {
  content: "\e63c";
}

.ad-icon-flex:before {
  content: "\e67d";
}

.ad-icon-grid:before {
  content: "\e8d8";
}

.ad-icon-squirrel:before {
  content: "\ec90";
}

.ad-icon-hand_touch:before {
  content: "\e63b";
}

.ad-icon-fan:before {
  content: "\e817";
}

.ad-icon-humidity:before {
  content: "\e624";
}

.ad-icon-video:before {
  content: "\e627";
}

.ad-icon-pay:before {
  content: "\e614";
}

.ad-icon-checkbox:before {
  content: "\e666";
}

.ad-icon-scrolltop:before {
  content: "\e64a";
}

.ad-icon-explore:before {
  content: "\e602";
}

.ad-icon-language:before {
  content: "\e649";
}

.ad-icon-new:before {
  content: "\e607";
}

.ad-icon-drop:before {
  content: "\e617";
}

.ad-icon-download:before {
  content: "\e67f";
}

.ad-icon-photos:before {
  content: "\e82d";
}

.ad-icon-cafe:before {
  content: "\e639";
}

.ad-icon-mi:before {
  content: "\e603";
}

.ad-icon-zcool:before {
  content: "\e606";
}

.ad-icon-eyes:before {
  content: "\e60f";
}

.ad-icon-close_circle:before {
  content: "\e66b";
}

.ad-icon-keep:before {
  content: "\e604";
}

.ad-icon-v3:before {
  content: "\e616";
}

.ad-icon-v4:before {
  content: "\e625";
}

.ad-icon-v2:before {
  content: "\e638";
}

.ad-icon-v1:before {
  content: "\e637";
}

.ad-icon-share:before {
  content: "\e605";
}

.ad-icon-home:before {
  content: "\e600";
}

.ad-icon-moon:before {
  content: "\e66c";
}

.ad-icon-arrow_right:before {
  content: "\ed7a";
}

.ad-icon-arrow_left:before {
  content: "\e672";
}

.ad-icon-set_filled:before {
  content: "\e640";
}

.ad-icon-message:before {
  content: "\e609";
}

.ad-icon-wechat:before {
  content: "\e694";
}

.ad-icon-lofter:before {
  content: "\e866";
}

.ad-icon-ladder:before {
  content: "\ed79";
}

.ad-icon-desert:before {
  content: "\e709";
}

.ad-icon-navigation:before {
  content: "\e61f";
}

.ad-icon-behance:before {
  content: "\e63a";
}

.ad-icon-moment:before {
  content: "\e667";
}

.ad-icon-500px:before {
  content: "\e601";
}

.ad-icon-instagram:before {
  content: "\e60d";
}

.ad-icon-link:before {
  content: "\e647";
}

.ad-icon-miniprogram:before {
  content: "\e7b3";
}

.ad-icon-camera:before {
  content: "\e684";
}

.ad-icon-weibo:before {
  content: "\e737";
}

.ad-icon-bee:before {
  content: "\e60b";
}

.ad-icon-heart_beat:before {
  content: "\eb18";
}

.ad-icon-location:before {
  content: "\e63f";
}

.ad-icon-heart_filled:before {
  content: "\e660";
}

.ad-icon-heart:before {
  content: "\e772";
}

.ad-icon-male:before {
  content: "\e62a";
}
